body {
    margin: 0px;
  }
  #parent {
    position: relative;
    margin: 0px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVXKmhslVFKCeoyECJMXMry48tE20Mor5ZDw&s");
    background-repeat: no-repeat;
    background-size: 100%;
  
    height: 100vh;
  }
  #child1 {
    display: block;
    position: relative;
    /* border: 1px solid black; */
    background-color: rgb(123, 203, 9);
    top: 50px;
    width: 300px;
    left: 100px;
    margin: 0px;
    opacity: 0.8;
    padding-left: 30px;
  }
  
  #child2 {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    top: 0px;
    background-color: rgb(241, 231, 231);
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  #son {
    position: relative;
    top: 300px;
  }
  
  .button {
    margin-left: 100px;
    background-color: rgb(251, 75, 207);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: 3px solid rgb(240, 125, 49);
  }
  
  #btn {
    height: 60px;
    width: 150px;
    background-color: rgb(165, 42, 142);
    border-style: none;
    box-shadow: 2px 2px 2px 2px rgb(136, 42, 165);
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
  }
  #s1 {
    color: rgb(91, 57, 9);
    font-size: 30px;
  }
  #s2 {
    color: rgb(112, 33, 11);
  }